IPHONEOS_DEPLOYMENT_TARGET = 17.0
SDKROOT = iphoneos
SWIFT_VERSION = 6.0
ALWAYS_SEARCH_USER_PATHS = NO
TARGETED_DEVICE_FAMILY = 1
CODE_SIGNING_ALLOWED = NO
CODE_SIGNING_REQUIRED = NO
DEVELOPMENT_TEAM =
PRODUCT_BUNDLE_IDENTIFIER = com.example.bodycompanion.internal
ENABLE_USER_SCRIPT_SANDBOXING = YES
